{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["react-app", "eslint:recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx", ".tsx", ".ts", ".svg"] }
    ],
    "no-var": "warn",
    "eqeqeq": "error",
    "no-unused-vars": "warn", //작업한곳외에서 계속 에러처리되어 잠시 비활성화함
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", "tsx", "ts"]
      }
    }
  }
}
